@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #9dfbfb2d;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    position: absolute;
    bottom: 24px;
    right: 24px;
    font-size: 24px;
}

nav{
    margin: 27px 0 59px 0;
    display: flex;
    font-size: 40px;
    font-weight: 700;
    color: #453805;
    background-color: hsla(47, 67%, 70%, 0.479);
    padding: 8px;
    border-radius: 8px;
    border: 2px solid black;
    box-shadow: 4px 4px 0px 0px black;
    transform: translate(-4px , -4px);
    transition: 0.2s linear;
}
nav:hover{
    transform: translate(0);
    box-shadow: none;
}
.book-img{
    height: 66px;
    width: 66px;
    margin: 0 0 0 8px;
}

section{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 32px;
}


section > a {
    display: block;
    height: 300px;
    box-shadow: 8px 8px 0px 0px #00000040;
    border-radius: 16px;
    transition: 0.2s linear;
    transform: translate(-8px,-8px);
}
section > a > img{
    border-radius: 10px;
    height: 100%;
    width: 100%;
    border: 2px solid black;
}
section > a:hover{
    transform: translate(0);
    box-shadow: none;
}

@media only screen and (max-width: 1400px) {
    section{
        grid-template-columns: repeat(4,1fr);
    }
}
@media only screen and (max-width: 1100px) {
    section{
        grid-template-columns: repeat(3,1fr);
    }
}
@media only screen and (max-width: 600px) {
    section{
        grid-template-columns: repeat(2,1fr);
    }
    section > a {
        height: 200px;
    }
}

body {
    animation-duration: 0.5s;
    animation-name: animate-pop;
    animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
  }
  
  @keyframes animate-pop {
    0% {
      opacity: 0;
      transform: scale(0.5, 0.5);
    }
  
    100% {
      opacity: 1;
      transform: scale(1, 1);
    }
  }
